<!DOCTYPE html>
<html>
<head>
    <title>
        Home Page
    </title>
    <link href="~/Asset/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Asset/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Asset/css/owl.theme.default.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Asset/css/style.css" />
    <link rel="stylesheet" href="~/Asset/css/a.css" />
    <link rel="stylesheet" href="~/Asset/css/home.css" />
    <link rel="stylesheet" href="~/Asset/css/slideMenu.css">
    <script src="~/Asset/js/script.js"></script>
    <script src="~/Asset/js/slideMenu.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
          integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous"> 
</head>   
        @Html.Partial("~/Views/Shared/Header.cshtml")
        @RenderBody()
        @Html.Partial("~/Views/Shared/Footer.cshtml") 
   
</html>

