
    <div id="lazy_footer" class="active" style="left: 0px;">
        <footer id="footer">
            <div class="container1">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <h4 class="tt-footer-2">về vtc pay</h4>
                                <ul class="introduce-list">
                                    <li><a href="https://vtcpay.vn/gioi-thieu">&nbsp;Giới thiệu VTC Pay</a></li>
                                    <li>
                                        <a href="https://vtcpay.vn/huong-dan-472/vi-dien-tu-vtc-pay-194/dieu-khoan-su-dung-vi-dien-tu-cong-thanh-toan-dien-tu-vtc-pay-2-44007?plv=215">
                                            &nbsp;Điều
                                            khoản sử dụng
                                        </a>
                                    </li>
                                    <li><a href="https://vtcpay.vn/tong-quan/tich-hop">&nbsp;Dành cho doanh nghiệp</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <h4 class="tt-footer-2 margin_top_15px">Chăm sóc khách hàng</h4>
                                <ul class="introduce-list">
                                    <li>
                                        <a href="tel:19001530">
                                            <img class=" ls-is-cached lazyloaded"
                                                 data-src="https://vtcpay.vn/Content/images/2.png" alt="19001530"
                                                 src="https://vtcpay.vn/Content/images/2.png">&nbsp;1900 1530
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://vtcpay.vn">
                                            <img class=" ls-is-cached lazyloaded"
                                                 data-src="https://vtcpay.vn/Content/images/6.png" alt="https://vtcpay.vn"
                                                 src="https://vtcpay.vn/Content/images/6.png">&nbsp;https://vtcpay.vn
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <h4 class="tt-footer-2 margin_top_15px">kinh doanh miền bắc</h4>
                                <ul class="introduce-list">

                                    <li>
                                        <a href="mailto:support.vtcpay@vtc.vn">
                                            <img class=" ls-is-cached lazyloaded"
                                                 data-src="https://vtcpay.vn/Content/images/2.png" alt="support.vtcpay@vtc.vn"
                                                 src="https://vtcpay.vn/Content/images/2.png">&nbsp;support.vtcpay@vtc.vn
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:0899991530">
                                            <img class=" ls-is-cached lazyloaded"
                                                 data-src="https://vtcpay.vn/Content/images/icon_cskh.png" alt="0899991530"
                                                 src="https://vtcpay.vn/Content/images/icon_cskh.png">&nbsp;08 9999 1530
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <h4 class="tt-footer-2 margin_top_15px">kinh doanh miền nam</h4>
                                <ul class="introduce-list">

                                    <li>
                                        <a href="mailto:support.vtcpay@vtc.vn">
                                            <img class=" ls-is-cached lazyloaded"
                                                 data-src="https://vtcpay.vn/Content/images/2.png" alt="support.vtcpay@vtc.vn"
                                                 src="https://vtcpay.vn/Content/images/2.png">&nbsp;support.vtcpay@vtc.vn
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:0979225050">
                                            <img class=" ls-is-cached lazyloaded"
                                                 data-src="https://vtcpay.vn/Content/images/icon_cskh.png" alt="0979225050"
                                                 src="https://vtcpay.vn/Content/images/icon_cskh.png">&nbsp;0979225050
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border-top: 1px #f1f1f2 solid!important;" class="m-t-0 m-b-20">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="tt-footer1">
                            <p>
                                TỔNG CÔNG TY TRUYỀN THÔNG ĐA PHƯƠNG TIỆN (VTC)<br><b>
                                    CÔNG TY VTC CÔNG NGHỆ VÀ NỘI DUNG SỐ (VTC
                                    INTECOM)
                                </b>
                            </p>
                        </div>
                        <div class="ct-ft-1">
                            <p><b>Hà Nội (Trụ sở chính):</b>Tầng 14, Tòa nhà VTC 23 Lạc Trung, Quận Hai Bà Trưng, Hà Nội</span></p>
                            <p><b>TP. Hồ Chí Minh (chi nhánh):</b>259 Đồng Đen, Phường 10, Quận Tân Bình, TP. Hồ Chí Minh</span></p>
                            <small>
                                Giấy phép hoạt động số 31/GP-NHNN
                                <div class="tt_xdong">
                                    <a href="javascript:;">
                                        <img alt="Bộ công thương" class=" ls-is-cached lazyloaded"
                                             data-src="https://vtcpay.vn/content/images/img_congthuong.png"
                                             src="https://vtcpay.vn/content/images/img_congthuong.png">
                                    </a>
                                    <a target="_blank"
                                       href="https://profile.globalsign.com/SiteSeal/siteSeal/profile/profile.do?p1=ece363f2&amp;p2=d747b0124e9e476610c441481b5dea1d4b40e5889114af531084256311c35f145c1ab61e066ffbced744ad4b0bc41a&amp;p3=dcc95e64af600deb0d7e87a699026c9ca3ee09a7">
                                        <img class=" ls-is-cached lazyloaded"
                                             data-src="https://vtcpay.vn/content/images/seal_125-50_blue.png" alt="Global sign"
                                             src="https://vtcpay.vn/content/images/seal_125-50_blue.png">
                                    </a>
                                    <a target="_blank"
                                       href="https://sealserver.trustwave.com/cert.php?customerId=1c5e245c0b0c46f387ab007a3590f863&amp;size=105x54&amp;style=invert">
                                        <img class=" lazyloaded" data-src="https://vtcpay.vn/content/images/credibility_pci-logo.png"
                                             alt="PCI" src="https://vtcpay.vn/content/images/credibility_pci-logo.png">
                                    </a>
                                </div>
                            </small>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="tt-footer-application margin_top_15px"><b>Ứng dụng VTC Pay</b></div>
                                <ul class="list_ungdung_ud">
                                    <li>
                                        <img alt="VTCPay" class="img-responsive lazyloaded"
                                             data-src="https://vtcpay.vn/content/images/logo-pay/app_qrcode.png"
                                             src="https://vtcpay.vn/content/images/logo-pay/app_qrcode.png">
                                    </li>
                                    <li>
                                        <a target="_blank" href="http://apple.co/2ttEpqa" style="margin-bottom: 3px;">
                                            <img alt="App store"
                                                 class="img-responsive ls-is-cached lazyloaded"
                                                 data-src="https://vtcpay.vn/content/images/app-store.png"
                                                 src="https://vtcpay.vn/content/images/app-store.png">
                                        </a>
                                        <a target="_blank" href="http://bit.ly/1moQMGs">
                                            <img alt="Google play"
                                                 class="img-responsive ls-is-cached lazyloaded"
                                                 data-src="https://vtcpay.vn/content/images/google-play.png"
                                                 src="https://vtcpay.vn/content/images/google-play.png">
                                        </a>
                                        <a target="_blank"
                                           href="https://appgallery.cloud.huawei.com/ag/n/app/C101703571?channelId=web&amp;detailType=0">
                                            <img alt="App gallery" style="width: 125px; padding-top: 2px; margin-left: 20px;"
                                                 class="img-responsive-appgallery ls-is-cached lazyloaded"
                                                 data-src="https://vtcpay.vn/content/images/HuaweiGallery.png"
                                                 src="https://vtcpay.vn/content/images/HuaweiGallery.png">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="tt-footer-connect margin_top_15px"><b>kết nối với chúng tôi</b></div>
                                <ul class="list_ketnoi_ud">
                                    <li>
                                        <a target="_blank" rel="nofollow" href="https://www.facebook.com/vidientuvtcpay/">
                                            <img data-src="https://vtcpay.vn/Content/Images/facebook.svg" alt="Facebook"
                                                 class="social-btn1 ls-is-cached lazyloaded"
                                                 src="https://vtcpay.vn/Content/Images/facebook.svg">
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" rel="nofollow" href="https://plus.google.com/u/0/+OfficialChannelVTCPay">
                                            <img data-src="https://vtcpay.vn/Content/Images/google-plus.svg" alt="Google plus"
                                                 class="social-btn2 ls-is-cached lazyloaded"
                                                 src="https://vtcpay.vn/Content/Images/google-plus.svg">
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" rel="nofollow"
                                           href="https://www.youtube.com/channel/UCl4vbMhHym5eFgxYtstko_g ">
                                            <img data-src="https://vtcpay.vn/Content/Images/youtube.svg" alt="Youtube"
                                                 class="social-btn3 ls-is-cached lazyloaded"
                                                 src="https://vtcpay.vn/Content/Images/youtube.svg">
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" rel="nofollow"
                                           href="https://www.linkedin.com/company/vtcpaymentgateway/">
                                            <img data-src="https://vtcpay.vn/Content/Images/linkedin.svg" alt="Linkedin"
                                                 class="social-btn4 ls-is-cached lazyloaded"
                                                 src="https://vtcpay.vn/Content/Images/linkedin.svg">
                                        </a>
                                    </li>


                                </ul>
                                <h6 class="lt_nn_ft_ud">
                                    Ngôn Ngữ
                                    <a href="javascript:;" onclick="utils.RedirectUriByLang('en')">
                                        <img alt="En"
                                             class=" ls-is-cached lazyloaded" data-src="https://vtcpay.vn/content/images/flag/england.png"
                                             src="https://vtcpay.vn/content/images/flag/england.png">
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>



        <div class="back-to-top" style="display: block;">
            <img class=" lazyloaded"
                 data-src="https://vtcpay.vn/content/images/backtop.png" alt="Top"
                 src="https://vtcpay.vn/content/images/backtop.png">
        </div>
    </div>
</div>

