@{
    PayCartOnline.Models.CheckUser isCheck = Session["Account"] != null ? (PayCartOnline.Models.CheckUser)Session["Account"] : null;

}
<div class="header_admin">
    <a href="/Home/Index" class="logo_admin">
        <span class="logo_admin_small"><img src="https://vtcpay.vn/Content/images/logo_small.png" alt=""></span>
        <span class="logo_admin_big">
            <img src="https://vtcpay.vn/Content/images/logo-pay/vtcpay-v-blue-tet.svg" width="200" alt="">
        </span>
    </a>
    <div class="menu_top_admin">
        <a href="" class="logo_admin_left_ud hidden-lg hidden-md">
            <span class="logo_admin_small"><img src="https://vtcpay.vn/Content/images/logo_small.png" alt=""></span>
            <span class="logo_admin_big"><img src="https://vtcpay.vn/Content/Images/vtcpay.svg" width="120" alt=""></span>
        </a>
        <a href="javascript:void(0);" class="btn_thugon_menu_admin"><span></span></a>
        <div id="header_title" class="hidden-xs" style="position: absolute;top: 10px;left: 80px;width: 50%;"></div>
        <div class="menu_right_top_admin">
            <ul class="list_menu_phai dang-nhap">

                <!--Box thông báo load ajax sau-->
                <li class="list_thongbao_tin">
                    <a href="javascript:void(0);"><img src="https://vtcpay.vn/content/images/icon_chuong.png"></a>
                </li>
                <li class="info_user">
                    <a href="javascript:void(0);">
                        <div class="box_thumb_ava"><img src="https://vtcpay.vn/Content/images/df_avt.png" alt="" style="max-width: 100%; height: 40px;"></div>
                        <div class="box_noidung_ava">
                            <span>
                                @if (Session["Account"] != null)
                                {
                                    @isCheck.Phone
                                }
                                else
                                {
                                    <span>Lỗi đăng nhập</span>
                                }

                            </span>
                            <em>0 VND</em>
                        </div>
                    </a>
                    <!--Box thông tin người dùng load ajax sau-->
                    <div class="box_show_info_user" style="display: none;">

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>