@{
    PayCartOnline.Models.CheckUser isCheck = Session["Account"] != null ? (PayCartOnline.Models.CheckUser)Session["Account"] : null;

}

<div class="container-fluid">
    <div class="header-top row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="img">
                <a href="Home/Index" class="navbar-img">
                    <img class="img-responsive" style="width: 100%;" src="https://vtcpay.vn/content/Images/logo-pay/vtcpay-v-blue-tet.svg" />

                </a>
            </div>
        </div>

        <div class="list_menu col-lg-8 col-md-8 col-sm-12">
            <div class="row">
                <div class="list_menu_left col-lg-6 col-md-6 col-sm-6">
                    <input autocomplete="off" id="txtTextSearch" name="" placeholder="Tìm kiếm sản phẩm" type="text" style="margin-left: 50px;" />
                </div>

                <div class="list_menu_right col-lg-6 col-md-6 col-sm-6">
                    <ul class="list_menu_right_child row ">
                        <li class="link_huongdan_udd">
                            <a href="https://vtcpay.vn/huong-dan-472" target="_blank">
                                <h3 style="font-size: 0.75rem">
                                    Hướng dẫn
                                </h3>
                            </a>
                        </li>
                        <li class="link_tintuc_udd">
                            <a href="https://vtcpay.vn/tin-tuc-473" target="_blank">
                                <h3 style="font-size: 0.75rem">
                                    Tin tức
                                </h3>
                            </a>
                        </li>
                        <li class="btn_dangnhap">
                            @if (Session["Account"] != null)
                            {
                                <a href="/User/AccountUser" class="btn btn-light">@isCheck.Phone  </a>
                            }
                            else
                            {
                                <a href="/Home/Login">Đăng Nhập</a>
                            }
                        </li>
                        <li class="btn_dangky">
                            @if (isCheck is null)
                            {
                                <a href="/Home/Register">Đăng kí</a>
                            }
                            else
                            {
                                <a href="/Home/Logout">Đăng xuất</a>
                            }

                        </li>
                    </ul>
                </div>

            </div>


        </div>
    </div>

</div>

