<div class="menu_left_admin">
    <ul class="list_menu_left_admin" id="accordion">
        <li>
            <a href="">
                <i class="icon_list_menu_left_admin icon_menu_left_1"></i>
                <span>Trang chủ</span>
            </a>
        </li>
        <li class="panel">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed">
                <i class="icon_list_menu_left_admin icon_menu_left_2"></i>
                <span>Tài khoản</span>
                <img src="" alt="">
                <i class="icon_drop_list_menu_left_admin"></i>
            </a>
            <div id="collapse1" class="collapse">
                <ul class="dropdown-menu">
                    <li>
                        <a href="">
                            Thông tin tài khoản
                            <img src="" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Định danh ngân hàng
                            <img src="" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="HistoryDeal">Lịch sử giao dịch</a>
                    </li>

                    <li>
                        <a href="">Cài đặt thông báo</a>
                    </li>

                    <li>
                        <a href="">Tra cứu hóa đơn điện tử</a>
                    </li>
                    <li>
                        <a href="">Bảo mật đăng nhập</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="panel">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed">
                <i class="icon_list_menu_left_admin icon_menu_left_3"></i>
                <span>Sử dụng Ví</span>
                <i class="icon_drop_list_menu_left_admin"></i>
            </a>
            <div id="collapse2" class="collapse">
                <ul class="dropdown-menu">
                    <li>
                        <a href="">Nạp tiền</a>
                    </li>
                    <li>
                        <a href="">Rút tiền</a>
                    </li>
                    <li>
                        <a href="">Rút tiền tự động</a>
                    </li>
                    <li>
                        <a href="">Chuyển tiền</a>
                    </li>
                    <li>
                        <a href="">Gửi thông báo nạp tiền</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="panel">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed">
                <i class="icon_list_menu_left_admin icon_menu_left_4"></i>
                <span>Tích hợp thanh tóan</span>
                <i class="icon_drop_list_menu_left_admin"></i>
            </a>
            <div id="collapse3" class="collapse">
                <ul class="dropdown-menu">
                    <li>
                        <a href="">Tíchch hợp website</a>
                    </li>
                    <li>
                        <a href="">Tích hợp mobile</a>
                    </li>
                    <li>
                        <a href="">Hệ thống hóa đơn</a>
                    </li>
                    <li>
                        <a href="">Tích;ch hợp QR Code sản phẩm</a>
                    </li>
                    <li>
                        <a href="">Tích hợp QR Code điểm bán</a>
                    </li>
                    <li style="">
                        <a href="">Quản lí profile</a>
                    </li>
                    <li style="">
                        <a href="">Quản lí tài khoản sale</a>
                    </li>
                </ul>
            </div>
        </li>





        <li>
            <a href="">
                <i class="icon_list_menu_left_admin icon_menu_left_6"></i>
                <span>Tin tức</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="icon_list_menu_left_admin icon_menu_left_7"></i>
                <span>Hướng dẫn</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="icon_list_menu_left_admin icon_menu_left_8"></i>
                <span>Liên hệ</span>
            </a>
        </li>
        <li>
            <a href="" target="_blank">
                <i class="icon_list_menu_left_admin icon_menu_left_10"></i>
                <span>Góp ý</span>
            </a>
        </li>
        <li class="link_ngonngu_left_ud">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="collapsed">
                <i class="icon_list_menu_left_admin icon_menu_left_9"></i>
                <span>Change language</span>
                <i class="icon_drop_list_menu_left_admin"></i>
            </a>
            <div id="collapse6" class="collapse">
                <ul class="dropdown-menu">
                    <li><a onclick="utils.RedirectUriByLang('vi');" href="javascript:;">Tiếng Việt</a></li>
                    <li><a onclick="utils.RedirectUriByLang('en');" href="javascript:;">English</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>

