
@{
    ViewBag.Title = "Register";
   
}

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Asset/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Asset/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Asset/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/Asset/css/style.css">

    <title>Login #7</title>
</head>
<body style="background-color: #F8FAFB !important;">



    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Asset/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Sign In</h3>
                            </div>
                            <form action="~/Home/Register2" method="POST">
                                <div class="form-group first mb-2">
                                    <label for="Phone">Phone</label>
                                    <input type="text" class="form-control" name="phone" id="phone" onchange="HandlePhone()" required>
                                </div>
                                <span class="row text-danger ml-4" id="errPhone" style="font-weight: 600; font-size: 15px;"></span>
                                <div class="form-group mb-2">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" name="password" id="password" required>

                                </div>
                                <div class="form-group">
                                    <label for="confirmPwd">Confirm Password</label>
                                    <input type="password" class="form-control" name="confirmPwd" id="confirmPwd" onchange="ConfirmPwd()" required>
                                </div>
                                <span class="row text-danger ml-4 mb-4" id="confirm2" style="font-weight: 600; font-size: 15px;"></span>

                                <input type="submit" value="Log In" class="btn btn-block btn-primary">

                                <span class="d-block text-left my-4 text-muted">&mdash; or login with &mdash;</span>

                                <div class="social-login">
                                    <a href="#" class="facebook">
                                        <span class="icon-facebook mr-3"></span>
                                    </a>
                                    <a href="#" class="twitter">
                                        <span class="icon-twitter mr-3"></span>
                                    </a>
                                    <a href="#" class="google">
                                        <span class="icon-google mr-3"></span>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <script src="~/Asset/js/jquery-3.3.1.min.js"></script>
    <script src="~/Asset/js/popper.min.js"></script>
    <script src="~/Asset/js/bootstrap.min.js"></script>
    <script src="~/Asset/js/main.js"></script>
    <script>
    var arr_phone = @Html.Raw(Json.Encode(ViewBag.arr_phone))
    console.log(arr_phone);
        const HandlePhone = () => {
            let mobile = $('#phone').val()
            var vnf_regex = /((09|03|07|08|05)+([0-9]{8})\b)/g;
          
            if (mobile !== '') {
                if (vnf_regex.test(mobile) == false) {
                    $('#errPhone').html('Số điện thoại của bạn không đúng định dạng!')
                    $('#phone').val("")
                    return;
                }
                if (arr_phone.indexOf(mobile) != -1) {
                    $('#errPhone').html('Số điện thoại của bạn đã tồn tại!')
                    $('#phone').val("")
                    return;
                }

                $('#errPhone').html('')


            } else {
                $('#errPhone').html('Bạn chưa điền số điện thoại!')
            }

        }

        const ConfirmPwd = () => {
          
            let confirm = $('#confirmPwd').val()
           
            let pass = $('#password').val()
            if (confirm != pass) {
                //$('#confirmPwd').html();
                document.getElementById("confirmPwd").value = null;
                $('#confirm2').html('Mật khẩu xác nhận không khớp'); 
                
            }
        }
    </script>
</body>
</html>

